In [4]:
import numpy as np 
import pandas as pd

In [9]:
dt=pd.read_csv('Customer-Records.csv')
dt

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,Card Type,Point Earned,Password
0,1,15647311,Hill,608,Female,41,1,83807.86,1,DIAMOND,456,Hill5688
1,2,15619304,Onio,502,Female,42,8,159660.80,3,DIAMOND,377,Onio6579
2,3,15737888,Mitchell,850,Female,43,2,125510.82,1,GOLD,425,Mitchell5342
3,4,15574012,Jagdale,645,Male,18,8,1200002.50,2,DIAMOND,484,Jagdale4530
4,5,15656148,Pawar,376,Female,19,4,520.05,4,DIAMOND,282,Pawar7271
5,6,15792365,He,501,Male,44,4,142051.07,2,GOLD,251,He1186
6,7,15592389,H?,684,Male,27,2,134603.88,1,GOLD,342,H?7353
7,8,15767821,Bearce,528,Male,31,6,102016.72,2,GOLD,264,Bearce5922
8,9,15643966,Goforth,616,Male,45,3,143129.41,2,GOLD,308,Goforth1258
9,10,15737452,Romeo,653,Male,58,1,132602.88,1,SILVER,163,Romeo7520
10,11,15736816,Patil,756,Male,25,2,50002.80,1,DIAMOND,236,Patil4990
11,12,15728693,McWilliams,574,Female,43,3,141349.43,1,DIAMOND,499,McWilliams9534
12,13,15656300,Lucciano,411,Male,29,0,59697.17,2,GOLD,343,Lucciano5921
13,14,15706552,Deshmukh,533,Male,20,7,675000.50,1,SILVER,628,Deshmukh4405
14,15,15750181,Sanderson,553,Male,41,9,110112.54,2,GOLD,611,Sanderson9265
15,16,15794171,Lombardo,475,Female,45,0,134264.04,1,DIAMOND,877,Lombardo9352
16,17,15788448,Watson,490,Male,31,3,145260.23,1,SILVER,471,Watson8530
17,18,15729599,Lorenzo,804,Male,33,7,76548.60,1,GOLD,994,Lorenzo8258
18,19,15585768,Cameron,582,Male,41,6,70349.48,2,GOLD,419,Cameron8705
19,20,15738148,Kadam,465,Female,22,8,100000.00,1,SILVER,828,Kadam9283
20,21,15687946,Osborne,556,Female,61,2,117419.35,1,PLATINUM,789,Osborne2087
21,22,15755196,Lavine,834,Female,49,2,131394.56,1,GOLD,567,Lavine3737
22,23,15684171,Bianchi,660,Female,61,5,155931.11,1,PLATINUM,884,Bianchi7917
23,24,15754849,Tyler,776,Female,32,4,670.00,2,SILVER,296,Tyler9763
24,25,15602280,Martin,829,Female,27,9,112045.67,1,DIAMOND,779,Martin3788
25,26,15771573,Okagbue,637,Female,39,9,137843.80,1,SILVER,730,Okagbue6351
26,27,15766205,Yin,550,Male,38,2,103391.38,1,DIAMOND,960,Yin7730
27,28,15771873,Buccho,776,Female,37,2,103769.22,2,SILVER,268,Buccho1876
28,29,15616550,Chidiebele,698,Male,44,10,116363.37,2,SILVER,829,Chidiebele3294
29,30,15768193,Trevisani,585,Male,36,5,146050.97,2,SILVER,665,Trevisani1047
30,31,15702298,Parkhill,655,Male,41,8,125561.97,1,SILVER,343,Parkhill1053
31,32,15569590,Yoo,601,Male,42,1,98495.72,1,DIAMOND,225,Yoo1766
32,33,15760861,Phillipps,619,Male,43,1,125211.92,1,SILVER,657,Phillipps3679
33,34,15630053,Tsao,656,Male,45,5,127864.40,1,PLATINUM,221,Tsao7896
34,35,15647091,Endrizzi,725,Male,19,0,75888.20,1,PLATINUM,406,Endrizzi8287
35,36,15804771,Velazquez,614,Male,51,4,40685.92,1,PLATINUM,954,Velazquez8121
36,37,15651280,Hunter,742,Male,35,5,136857.00,1,GOLD,823,Hunter5929
37,38,15773469,Clark,687,Female,27,9,152328.88,2,DIAMOND,769,Clark9205
38,39,15702014,Jeffrey,555,Male,33,1,56084.69,2,PLATINUM,481,Jeffrey7500
39,40,15751208,Pirozzi,684,Male,56,8,78707.16,1,SILVER,903,Pirozzi8390
40,41,15592461,Jackson,603,Male,26,4,109166.37,1,PLATINUM,882,Jackson8231
41,42,15789484,Hammond,751,Female,36,6,169831.46,2,GOLD,379,Hammond1055
42,43,15696061,Brownless,581,Female,34,1,900.00,1,PLATINUM,469,Brownless2951
43,44,15641582,Chibugo,735,Male,43,10,123180.01,2,PLATINUM,683,Chibugo1515
44,45,15638424,Glauert,661,Female,35,5,150725.53,2,GOLD,770,Glauert7823
45,46,15755648,Pisano,675,Female,21,8,98373.26,1,SILVER,985,Pisano6893
46,47,15703793,Konovalova,738,Male,58,2,133745.44,4,GOLD,725,Konovalova7469
47,48,15812518,Palermo,657,Female,37,0,163607.18,1,GOLD,979,Palermo7679
48,49,15779052,Ballard,604,Female,25,5,157780.84,2,SILVER,988,Ballard1235
49,50,15780961,Cavenagh,735,Female,21,1,178718.19,2,PLATINUM,527,Cavenagh1628
50,51,15575185,Bushell,757,Male,33,5,77253.22,1,SILVER,582,Bushell3744
51,52,15803136,Postle,416,Female,41,10,122189.66,2,SILVER,281,Postle1178
52,53,15706021,Buley,665,Female,34,1,96645.54,2,DIAMOND,798,Buley2690
53,54,15701164,Onyeorulu,506,Female,34,4,700.00,1,SILVER,511,Onyeorulu5962
54,55,15762418,Gant,750,Male,22,3,121681.82,1,SILVER,852,Gant4089
55,56,15767954,Osborne,635,Female,28,3,81623.67,2,DIAMOND,659,Osborne2007
56,57,15731511,Ritchie,808,Male,45,7,118626.55,2,SILVER,559,Ritchie5556
57,58,15699461,Fiorentini,515,Male,35,10,176273.95,1,GOLD,231,Fiorentini8545
58,59,15738721,Graham,773,Male,41,9,102827.44,1,DIAMOND,488,Graham5449
59,60,15693683,Yuille,814,Male,29,8,97086.40,2,GOLD,965,Yuille3142

In [5]:
dt.drop(100, inplace=True)
dt

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,Card Type,Point Earned
0,1,15634602,Hargrave,619,Female,42,2,0.00,1,DIAMOND,464
1,2,15647311,Hill,608,Female,41,1,83807.86,1,DIAMOND,456
2,3,15619304,Onio,502,Female,42,8,159660.80,3,DIAMOND,377
3,4,15701354,Boni,699,Female,39,1,0.00,2,GOLD,350
4,5,15737888,Mitchell,850,Female,43,2,125510.82,1,GOLD,425
...,...,...,...,...,...,...,...,...,...,...,...
95,96,15699461,Fiorentini,515,Male,35,10,176273.95,1,GOLD,231
96,97,15738721,Graham,773,Male,41,9,102827.44,1,DIAMOND,488
97,98,15693683,Yuille,814,Male,29,8,97086.40,2,GOLD,965
98,99,15604348,Allard,710,Male,22,8,0.00,2,SILVER,289
99,100,15633059,Fanucci,413,Male,34,9,0.00,2,PLATINUM,449

In [6]:
import random
dt['Password'] = dt['Surname'] + dt.apply(lambda row: str(random.randint(1000, 9999)), axis=1)
dt

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,Card Type,Point Earned,Password
0,1,15634602,Hargrave,619,Female,42,2,0.00,1,DIAMOND,464,Hargrave2590
1,2,15647311,Hill,608,Female,41,1,83807.86,1,DIAMOND,456,Hill5688
2,3,15619304,Onio,502,Female,42,8,159660.80,3,DIAMOND,377,Onio6579
3,4,15701354,Boni,699,Female,39,1,0.00,2,GOLD,350,Boni2608
4,5,15737888,Mitchell,850,Female,43,2,125510.82,1,GOLD,425,Mitchell5342
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,15699461,Fiorentini,515,Male,35,10,176273.95,1,GOLD,231,Fiorentini8545
96,97,15738721,Graham,773,Male,41,9,102827.44,1,DIAMOND,488,Graham5449
97,98,15693683,Yuille,814,Male,29,8,97086.40,2,GOLD,965,Yuille3142
98,99,15604348,Allard,710,Male,22,8,0.00,2,SILVER,289,Allard5980
99,100,15633059,Fanucci,413,Male,34,9,0.00,2,PLATINUM,449,Fanucci3877

In [12]:
dt.drop(dt[dt.Balance < 500].index, axis=0, inplace=True)
dt

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,Card Type,Point Earned,Password
1,2,15647311,Hill,608,Female,41,1,83807.86,1,DIAMOND,456,Hill5688
2,3,15619304,Onio,502,Female,42,8,159660.80,3,DIAMOND,377,Onio6579
4,5,15737888,Mitchell,850,Female,43,2,125510.82,1,GOLD,425,Mitchell5342
5,6,15574012,Chu,645,Male,44,8,113755.78,2,DIAMOND,484,Chu4530
7,8,15656148,Obinna,376,Female,29,4,115046.74,4,DIAMOND,282,Obinna7271
8,9,15792365,He,501,Male,44,4,142051.07,2,GOLD,251,He1186
9,10,15592389,H?,684,Male,27,2,134603.88,1,GOLD,342,H?7353
10,11,15767821,Bearce,528,Male,31,6,102016.72,2,GOLD,264,Bearce5922
15,16,15643966,Goforth,616,Male,45,3,143129.41,2,GOLD,308,Goforth1258
16,17,15737452,Romeo,653,Male,58,1,132602.88,1,SILVER,163,Romeo7520
26,27,15736816,Young,756,Male,36,2,136815.64,1,DIAMOND,236,Young4990
28,29,15728693,McWilliams,574,Female,43,3,141349.43,1,DIAMOND,499,McWilliams9534
29,30,15656300,Lucciano,411,Male,29,0,59697.17,2,GOLD,343,Lucciano5921
31,32,15706552,Odinakachukwu,533,Male,36,7,85311.70,1,SILVER,628,Odinakachukwu4405
32,33,15750181,Sanderson,553,Male,41,9,110112.54,2,GOLD,611,Sanderson9265
35,36,15794171,Lombardo,475,Female,45,0,134264.04,1,DIAMOND,877,Lombardo9352
36,37,15788448,Watson,490,Male,31,3,145260.23,1,SILVER,471,Watson8530
37,38,15729599,Lorenzo,804,Male,33,7,76548.60,1,GOLD,994,Lorenzo8258
39,40,15585768,Cameron,582,Male,41,6,70349.48,2,GOLD,419,Cameron8705
41,42,15738148,Clarke,465,Female,51,8,122522.32,1,SILVER,828,Clarke9283
42,43,15687946,Osborne,556,Female,61,2,117419.35,1,PLATINUM,789,Osborne2087
43,44,15755196,Lavine,834,Female,49,2,131394.56,1,GOLD,567,Lavine3737
44,45,15684171,Bianchi,660,Female,61,5,155931.11,1,PLATINUM,884,Bianchi7917
45,46,15754849,Tyler,776,Female,32,4,109421.13,2,SILVER,296,Tyler9763
46,47,15602280,Martin,829,Female,27,9,112045.67,1,DIAMOND,779,Martin3788
47,48,15771573,Okagbue,637,Female,39,9,137843.80,1,SILVER,730,Okagbue6351
48,49,15766205,Yin,550,Male,38,2,103391.38,1,DIAMOND,960,Yin7730
49,50,15771873,Buccho,776,Female,37,2,103769.22,2,SILVER,268,Buccho1876
50,51,15616550,Chidiebele,698,Male,44,10,116363.37,2,SILVER,829,Chidiebele3294
51,52,15768193,Trevisani,585,Male,36,5,146050.97,2,SILVER,665,Trevisani1047
53,54,15702298,Parkhill,655,Male,41,8,125561.97,1,SILVER,343,Parkhill1053
54,55,15569590,Yoo,601,Male,42,1,98495.72,1,DIAMOND,225,Yoo1766
55,56,15760861,Phillipps,619,Male,43,1,125211.92,1,SILVER,657,Phillipps3679
56,57,15630053,Tsao,656,Male,45,5,127864.40,1,PLATINUM,221,Tsao7896
57,58,15647091,Endrizzi,725,Male,19,0,75888.20,1,PLATINUM,406,Endrizzi8287
59,60,15804771,Velazquez,614,Male,51,4,40685.92,1,PLATINUM,954,Velazquez8121
60,61,15651280,Hunter,742,Male,35,5,136857.00,1,GOLD,823,Hunter5929
61,62,15773469,Clark,687,Female,27,9,152328.88,2,DIAMOND,769,Clark9205
62,63,15702014,Jeffrey,555,Male,33,1,56084.69,2,PLATINUM,481,Jeffrey7500
63,64,15751208,Pirozzi,684,Male,56,8,78707.16,1,SILVER,903,Pirozzi8390
64,65,15592461,Jackson,603,Male,26,4,109166.37,1,PLATINUM,882,Jackson8231
65,66,15789484,Hammond,751,Female,36,6,169831.46,2,GOLD,379,Hammond1055
66,67,15696061,Brownless,581,Female,34,1,101633.04,1,PLATINUM,469,Brownless2951
67,68,15641582,Chibugo,735,Male,43,10,123180.01,2,PLATINUM,683,Chibugo1515
68,69,15638424,Glauert,661,Female,35,5,150725.53,2,GOLD,770,Glauert7823
69,70,15755648,Pisano,675,Female,21,8,98373.26,1,SILVER,985,Pisano6893
70,71,15703793,Konovalova,738,Male,58,2,133745.44,4,GOLD,725,Konovalova7469
72,73,15812518,Palermo,657,Female,37,0,163607.18,1,GOLD,979,Palermo7679
73,74,15779052,Ballard,604,Female,25,5,157780.84,2,SILVER,988,Ballard1235
75,76,15780961,Cavenagh,735,Female,21,1,178718.19,2,PLATINUM,527,Cavenagh1628
78,79,15575185,Bushell,757,Male,33,5,77253.22,1,SILVER,582,Bushell3744
79,80,15803136,Postle,416,Female,41,10,122189.66,2,SILVER,281,Postle1178
80,81,15706021,Buley,665,Female,34,1,96645.54,2,DIAMOND,798,Buley2690
83,84,15701164,Onyeorulu,506,Female,34,4,90307.62,1,SILVER,511,Onyeorulu5962
86,87,15762418,Gant,750,Male,22,3,121681.82,1,SILVER,852,Gant4089
89,90,15767954,Osborne,635,Female,28,3,81623.67,2,DIAMOND,659,Osborne2007
91,92,15731511,Ritchie,808,Male,45,7,118626.55,2,SILVER,559,Ritchie5556
95,96,15699461,Fiorentini,515,Male,35,10,176273.95,1,GOLD,231,Fiorentini8545
96,97,15738721,Graham,773,Male,41,9,102827.44,1,DIAMOND,488,Graham5449
97,98,15693683,Yuille,814,Male,29,8,97086.40,2,GOLD,965,Yuille3142

In [13]:
dt

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,Card Type,Point Earned,Password
1,2,15647311,Hill,608,Female,41,1,83807.86,1,DIAMOND,456,Hill5688
2,3,15619304,Onio,502,Female,42,8,159660.80,3,DIAMOND,377,Onio6579
4,5,15737888,Mitchell,850,Female,43,2,125510.82,1,GOLD,425,Mitchell5342
5,6,15574012,Chu,645,Male,44,8,113755.78,2,DIAMOND,484,Chu4530
7,8,15656148,Obinna,376,Female,29,4,115046.74,4,DIAMOND,282,Obinna7271
8,9,15792365,He,501,Male,44,4,142051.07,2,GOLD,251,He1186
9,10,15592389,H?,684,Male,27,2,134603.88,1,GOLD,342,H?7353
10,11,15767821,Bearce,528,Male,31,6,102016.72,2,GOLD,264,Bearce5922
15,16,15643966,Goforth,616,Male,45,3,143129.41,2,GOLD,308,Goforth1258
16,17,15737452,Romeo,653,Male,58,1,132602.88,1,SILVER,163,Romeo7520
26,27,15736816,Young,756,Male,36,2,136815.64,1,DIAMOND,236,Young4990
28,29,15728693,McWilliams,574,Female,43,3,141349.43,1,DIAMOND,499,McWilliams9534
29,30,15656300,Lucciano,411,Male,29,0,59697.17,2,GOLD,343,Lucciano5921
31,32,15706552,Odinakachukwu,533,Male,36,7,85311.70,1,SILVER,628,Odinakachukwu4405
32,33,15750181,Sanderson,553,Male,41,9,110112.54,2,GOLD,611,Sanderson9265
35,36,15794171,Lombardo,475,Female,45,0,134264.04,1,DIAMOND,877,Lombardo9352
36,37,15788448,Watson,490,Male,31,3,145260.23,1,SILVER,471,Watson8530
37,38,15729599,Lorenzo,804,Male,33,7,76548.60,1,GOLD,994,Lorenzo8258
39,40,15585768,Cameron,582,Male,41,6,70349.48,2,GOLD,419,Cameron8705
41,42,15738148,Clarke,465,Female,51,8,122522.32,1,SILVER,828,Clarke9283
42,43,15687946,Osborne,556,Female,61,2,117419.35,1,PLATINUM,789,Osborne2087
43,44,15755196,Lavine,834,Female,49,2,131394.56,1,GOLD,567,Lavine3737
44,45,15684171,Bianchi,660,Female,61,5,155931.11,1,PLATINUM,884,Bianchi7917
45,46,15754849,Tyler,776,Female,32,4,109421.13,2,SILVER,296,Tyler9763
46,47,15602280,Martin,829,Female,27,9,112045.67,1,DIAMOND,779,Martin3788
47,48,15771573,Okagbue,637,Female,39,9,137843.80,1,SILVER,730,Okagbue6351
48,49,15766205,Yin,550,Male,38,2,103391.38,1,DIAMOND,960,Yin7730
49,50,15771873,Buccho,776,Female,37,2,103769.22,2,SILVER,268,Buccho1876
50,51,15616550,Chidiebele,698,Male,44,10,116363.37,2,SILVER,829,Chidiebele3294
51,52,15768193,Trevisani,585,Male,36,5,146050.97,2,SILVER,665,Trevisani1047
53,54,15702298,Parkhill,655,Male,41,8,125561.97,1,SILVER,343,Parkhill1053
54,55,15569590,Yoo,601,Male,42,1,98495.72,1,DIAMOND,225,Yoo1766
55,56,15760861,Phillipps,619,Male,43,1,125211.92,1,SILVER,657,Phillipps3679
56,57,15630053,Tsao,656,Male,45,5,127864.40,1,PLATINUM,221,Tsao7896
57,58,15647091,Endrizzi,725,Male,19,0,75888.20,1,PLATINUM,406,Endrizzi8287
59,60,15804771,Velazquez,614,Male,51,4,40685.92,1,PLATINUM,954,Velazquez8121
60,61,15651280,Hunter,742,Male,35,5,136857.00,1,GOLD,823,Hunter5929
61,62,15773469,Clark,687,Female,27,9,152328.88,2,DIAMOND,769,Clark9205
62,63,15702014,Jeffrey,555,Male,33,1,56084.69,2,PLATINUM,481,Jeffrey7500
63,64,15751208,Pirozzi,684,Male,56,8,78707.16,1,SILVER,903,Pirozzi8390
64,65,15592461,Jackson,603,Male,26,4,109166.37,1,PLATINUM,882,Jackson8231
65,66,15789484,Hammond,751,Female,36,6,169831.46,2,GOLD,379,Hammond1055
66,67,15696061,Brownless,581,Female,34,1,101633.04,1,PLATINUM,469,Brownless2951
67,68,15641582,Chibugo,735,Male,43,10,123180.01,2,PLATINUM,683,Chibugo1515
68,69,15638424,Glauert,661,Female,35,5,150725.53,2,GOLD,770,Glauert7823
69,70,15755648,Pisano,675,Female,21,8,98373.26,1,SILVER,985,Pisano6893
70,71,15703793,Konovalova,738,Male,58,2,133745.44,4,GOLD,725,Konovalova7469
72,73,15812518,Palermo,657,Female,37,0,163607.18,1,GOLD,979,Palermo7679
73,74,15779052,Ballard,604,Female,25,5,157780.84,2,SILVER,988,Ballard1235
75,76,15780961,Cavenagh,735,Female,21,1,178718.19,2,PLATINUM,527,Cavenagh1628
78,79,15575185,Bushell,757,Male,33,5,77253.22,1,SILVER,582,Bushell3744
79,80,15803136,Postle,416,Female,41,10,122189.66,2,SILVER,281,Postle1178
80,81,15706021,Buley,665,Female,34,1,96645.54,2,DIAMOND,798,Buley2690
83,84,15701164,Onyeorulu,506,Female,34,4,90307.62,1,SILVER,511,Onyeorulu5962
86,87,15762418,Gant,750,Male,22,3,121681.82,1,SILVER,852,Gant4089
89,90,15767954,Osborne,635,Female,28,3,81623.67,2,DIAMOND,659,Osborne2007
91,92,15731511,Ritchie,808,Male,45,7,118626.55,2,SILVER,559,Ritchie5556
95,96,15699461,Fiorentini,515,Male,35,10,176273.95,1,GOLD,231,Fiorentini8545
96,97,15738721,Graham,773,Male,41,9,102827.44,1,DIAMOND,488,Graham5449
97,98,15693683,Yuille,814,Male,29,8,97086.40,2,GOLD,965,Yuille3142

In [16]:
dt.count()

RowNumber        60
CustomerId       60
Surname          60
CreditScore      60
Gender           60
Age              60
Tenure           60
Balance          60
NumOfProducts    60
Card Type        60
Point Earned     60
Password         60
dtype: int64

In [ ]:
# dt.loc[5,['Surname', 'Age', 'Balance','Password']] = ['Jagdale', 18, 1200000.50,'Jagdale4530']
# dt.loc[7,['Surname', 'Age', 'Balance','Password']] = ['Pawar', 19, 500.00,'Pawar7271']
# dt.loc[26,['Surname', 'Age', 'Balance','Password']] = ['Patil', 25, 50000.80,'Patil4990']
# dt.loc[31,['Surname', 'Age', 'Balance','Password']] = ['Deshmukh', 20, 675000.50,'Deshmukh4405']
# dt.loc[41,['Surname', 'Age', 'Balance','Password']] = ['Kadam', 22, 100000.00,'Kadam9283']
dt

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,Card Type,Point Earned,Password
1,2,15647311,Hill,608,Female,41,1,83807.86,1,DIAMOND,456,Hill5688
2,3,15619304,Onio,502,Female,42,8,159660.80,3,DIAMOND,377,Onio6579
4,5,15737888,Mitchell,850,Female,43,2,125510.82,1,GOLD,425,Mitchell5342
5,6,15574012,Jagdale,645,Male,18,8,1200000.50,2,DIAMOND,484,Jagdale4530
7,8,15656148,Pawar,376,Female,19,4,500.00,4,DIAMOND,282,Pawar7271
8,9,15792365,He,501,Male,44,4,142051.07,2,GOLD,251,He1186
9,10,15592389,H?,684,Male,27,2,134603.88,1,GOLD,342,H?7353
10,11,15767821,Bearce,528,Male,31,6,102016.72,2,GOLD,264,Bearce5922
15,16,15643966,Goforth,616,Male,45,3,143129.41,2,GOLD,308,Goforth1258
16,17,15737452,Romeo,653,Male,58,1,132602.88,1,SILVER,163,Romeo7520
26,27,15736816,Patil,756,Male,25,2,50000.80,1,DIAMOND,236,Patil4990
28,29,15728693,McWilliams,574,Female,43,3,141349.43,1,DIAMOND,499,McWilliams9534
29,30,15656300,Lucciano,411,Male,29,0,59697.17,2,GOLD,343,Lucciano5921
31,32,15706552,Deshmukh,533,Male,20,7,675000.50,1,SILVER,628,Deshmukh4405
32,33,15750181,Sanderson,553,Male,41,9,110112.54,2,GOLD,611,Sanderson9265
35,36,15794171,Lombardo,475,Female,45,0,134264.04,1,DIAMOND,877,Lombardo9352
36,37,15788448,Watson,490,Male,31,3,145260.23,1,SILVER,471,Watson8530
37,38,15729599,Lorenzo,804,Male,33,7,76548.60,1,GOLD,994,Lorenzo8258
39,40,15585768,Cameron,582,Male,41,6,70349.48,2,GOLD,419,Cameron8705
41,42,15738148,Kadam,465,Female,22,8,100000.00,1,SILVER,828,Kadam9283
42,43,15687946,Osborne,556,Female,61,2,117419.35,1,PLATINUM,789,Osborne2087
43,44,15755196,Lavine,834,Female,49,2,131394.56,1,GOLD,567,Lavine3737
44,45,15684171,Bianchi,660,Female,61,5,155931.11,1,PLATINUM,884,Bianchi7917
45,46,15754849,Tyler,776,Female,32,4,109421.13,2,SILVER,296,Tyler9763
46,47,15602280,Martin,829,Female,27,9,112045.67,1,DIAMOND,779,Martin3788
47,48,15771573,Okagbue,637,Female,39,9,137843.80,1,SILVER,730,Okagbue6351
48,49,15766205,Yin,550,Male,38,2,103391.38,1,DIAMOND,960,Yin7730
49,50,15771873,Buccho,776,Female,37,2,103769.22,2,SILVER,268,Buccho1876
50,51,15616550,Chidiebele,698,Male,44,10,116363.37,2,SILVER,829,Chidiebele3294
51,52,15768193,Trevisani,585,Male,36,5,146050.97,2,SILVER,665,Trevisani1047
53,54,15702298,Parkhill,655,Male,41,8,125561.97,1,SILVER,343,Parkhill1053
54,55,15569590,Yoo,601,Male,42,1,98495.72,1,DIAMOND,225,Yoo1766
55,56,15760861,Phillipps,619,Male,43,1,125211.92,1,SILVER,657,Phillipps3679
56,57,15630053,Tsao,656,Male,45,5,127864.40,1,PLATINUM,221,Tsao7896
57,58,15647091,Endrizzi,725,Male,19,0,75888.20,1,PLATINUM,406,Endrizzi8287
59,60,15804771,Velazquez,614,Male,51,4,40685.92,1,PLATINUM,954,Velazquez8121
60,61,15651280,Hunter,742,Male,35,5,136857.00,1,GOLD,823,Hunter5929
61,62,15773469,Clark,687,Female,27,9,152328.88,2,DIAMOND,769,Clark9205
62,63,15702014,Jeffrey,555,Male,33,1,56084.69,2,PLATINUM,481,Jeffrey7500
63,64,15751208,Pirozzi,684,Male,56,8,78707.16,1,SILVER,903,Pirozzi8390
64,65,15592461,Jackson,603,Male,26,4,109166.37,1,PLATINUM,882,Jackson8231
65,66,15789484,Hammond,751,Female,36,6,169831.46,2,GOLD,379,Hammond1055
66,67,15696061,Brownless,581,Female,34,1,101633.04,1,PLATINUM,469,Brownless2951
67,68,15641582,Chibugo,735,Male,43,10,123180.01,2,PLATINUM,683,Chibugo1515
68,69,15638424,Glauert,661,Female,35,5,150725.53,2,GOLD,770,Glauert7823
69,70,15755648,Pisano,675,Female,21,8,98373.26,1,SILVER,985,Pisano6893
70,71,15703793,Konovalova,738,Male,58,2,133745.44,4,GOLD,725,Konovalova7469
72,73,15812518,Palermo,657,Female,37,0,163607.18,1,GOLD,979,Palermo7679
73,74,15779052,Ballard,604,Female,25,5,157780.84,2,SILVER,988,Ballard1235
75,76,15780961,Cavenagh,735,Female,21,1,178718.19,2,PLATINUM,527,Cavenagh1628
78,79,15575185,Bushell,757,Male,33,5,77253.22,1,SILVER,582,Bushell3744
79,80,15803136,Postle,416,Female,41,10,122189.66,2,SILVER,281,Postle1178
80,81,15706021,Buley,665,Female,34,1,96645.54,2,DIAMOND,798,Buley2690
83,84,15701164,Onyeorulu,506,Female,34,4,90307.62,1,SILVER,511,Onyeorulu5962
86,87,15762418,Gant,750,Male,22,3,121681.82,1,SILVER,852,Gant4089
89,90,15767954,Osborne,635,Female,28,3,81623.67,2,DIAMOND,659,Osborne2007
91,92,15731511,Ritchie,808,Male,45,7,118626.55,2,SILVER,559,Ritchie5556
95,96,15699461,Fiorentini,515,Male,35,10,176273.95,1,GOLD,231,Fiorentini8545
96,97,15738721,Graham,773,Male,41,9,102827.44,1,DIAMOND,488,Graham5449
97,98,15693683,Yuille,814,Male,29,8,97086.40,2,GOLD,965,Yuille3142

In [25]:
dt['RowNumber'] = range(1, len(dt) + 1)
dt.index = range(1, len(dt) + 1)

dt

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,Card Type,Point Earned,Password
1,1,15647311,Hill,608,Female,41,1,83807.86,1,DIAMOND,456,Hill5688
2,2,15619304,Onio,502,Female,42,8,159660.80,3,DIAMOND,377,Onio6579
3,3,15737888,Mitchell,850,Female,43,2,125510.82,1,GOLD,425,Mitchell5342
4,4,15574012,Jagdale,645,Male,18,8,1200000.50,2,DIAMOND,484,Jagdale4530
5,5,15656148,Pawar,376,Female,19,4,500.00,4,DIAMOND,282,Pawar7271
6,6,15792365,He,501,Male,44,4,142051.07,2,GOLD,251,He1186
7,7,15592389,H?,684,Male,27,2,134603.88,1,GOLD,342,H?7353
8,8,15767821,Bearce,528,Male,31,6,102016.72,2,GOLD,264,Bearce5922
9,9,15643966,Goforth,616,Male,45,3,143129.41,2,GOLD,308,Goforth1258
10,10,15737452,Romeo,653,Male,58,1,132602.88,1,SILVER,163,Romeo7520
11,11,15736816,Patil,756,Male,25,2,50000.80,1,DIAMOND,236,Patil4990
12,12,15728693,McWilliams,574,Female,43,3,141349.43,1,DIAMOND,499,McWilliams9534
13,13,15656300,Lucciano,411,Male,29,0,59697.17,2,GOLD,343,Lucciano5921
14,14,15706552,Deshmukh,533,Male,20,7,675000.50,1,SILVER,628,Deshmukh4405
15,15,15750181,Sanderson,553,Male,41,9,110112.54,2,GOLD,611,Sanderson9265
16,16,15794171,Lombardo,475,Female,45,0,134264.04,1,DIAMOND,877,Lombardo9352
17,17,15788448,Watson,490,Male,31,3,145260.23,1,SILVER,471,Watson8530
18,18,15729599,Lorenzo,804,Male,33,7,76548.60,1,GOLD,994,Lorenzo8258
19,19,15585768,Cameron,582,Male,41,6,70349.48,2,GOLD,419,Cameron8705
20,20,15738148,Kadam,465,Female,22,8,100000.00,1,SILVER,828,Kadam9283
21,21,15687946,Osborne,556,Female,61,2,117419.35,1,PLATINUM,789,Osborne2087
22,22,15755196,Lavine,834,Female,49,2,131394.56,1,GOLD,567,Lavine3737
23,23,15684171,Bianchi,660,Female,61,5,155931.11,1,PLATINUM,884,Bianchi7917
24,24,15754849,Tyler,776,Female,32,4,109421.13,2,SILVER,296,Tyler9763
25,25,15602280,Martin,829,Female,27,9,112045.67,1,DIAMOND,779,Martin3788
26,26,15771573,Okagbue,637,Female,39,9,137843.80,1,SILVER,730,Okagbue6351
27,27,15766205,Yin,550,Male,38,2,103391.38,1,DIAMOND,960,Yin7730
28,28,15771873,Buccho,776,Female,37,2,103769.22,2,SILVER,268,Buccho1876
29,29,15616550,Chidiebele,698,Male,44,10,116363.37,2,SILVER,829,Chidiebele3294
30,30,15768193,Trevisani,585,Male,36,5,146050.97,2,SILVER,665,Trevisani1047
31,31,15702298,Parkhill,655,Male,41,8,125561.97,1,SILVER,343,Parkhill1053
32,32,15569590,Yoo,601,Male,42,1,98495.72,1,DIAMOND,225,Yoo1766
33,33,15760861,Phillipps,619,Male,43,1,125211.92,1,SILVER,657,Phillipps3679
34,34,15630053,Tsao,656,Male,45,5,127864.40,1,PLATINUM,221,Tsao7896
35,35,15647091,Endrizzi,725,Male,19,0,75888.20,1,PLATINUM,406,Endrizzi8287
36,36,15804771,Velazquez,614,Male,51,4,40685.92,1,PLATINUM,954,Velazquez8121
37,37,15651280,Hunter,742,Male,35,5,136857.00,1,GOLD,823,Hunter5929
38,38,15773469,Clark,687,Female,27,9,152328.88,2,DIAMOND,769,Clark9205
39,39,15702014,Jeffrey,555,Male,33,1,56084.69,2,PLATINUM,481,Jeffrey7500
40,40,15751208,Pirozzi,684,Male,56,8,78707.16,1,SILVER,903,Pirozzi8390
41,41,15592461,Jackson,603,Male,26,4,109166.37,1,PLATINUM,882,Jackson8231
42,42,15789484,Hammond,751,Female,36,6,169831.46,2,GOLD,379,Hammond1055
43,43,15696061,Brownless,581,Female,34,1,101633.04,1,PLATINUM,469,Brownless2951
44,44,15641582,Chibugo,735,Male,43,10,123180.01,2,PLATINUM,683,Chibugo1515
45,45,15638424,Glauert,661,Female,35,5,150725.53,2,GOLD,770,Glauert7823
46,46,15755648,Pisano,675,Female,21,8,98373.26,1,SILVER,985,Pisano6893
47,47,15703793,Konovalova,738,Male,58,2,133745.44,4,GOLD,725,Konovalova7469
48,48,15812518,Palermo,657,Female,37,0,163607.18,1,GOLD,979,Palermo7679
49,49,15779052,Ballard,604,Female,25,5,157780.84,2,SILVER,988,Ballard1235
50,50,15780961,Cavenagh,735,Female,21,1,178718.19,2,PLATINUM,527,Cavenagh1628
51,51,15575185,Bushell,757,Male,33,5,77253.22,1,SILVER,582,Bushell3744
52,52,15803136,Postle,416,Female,41,10,122189.66,2,SILVER,281,Postle1178
53,53,15706021,Buley,665,Female,34,1,96645.54,2,DIAMOND,798,Buley2690
54,54,15701164,Onyeorulu,506,Female,34,4,90307.62,1,SILVER,511,Onyeorulu5962
55,55,15762418,Gant,750,Male,22,3,121681.82,1,SILVER,852,Gant4089
56,56,15767954,Osborne,635,Female,28,3,81623.67,2,DIAMOND,659,Osborne2007
57,57,15731511,Ritchie,808,Male,45,7,118626.55,2,SILVER,559,Ritchie5556
58,58,15699461,Fiorentini,515,Male,35,10,176273.95,1,GOLD,231,Fiorentini8545
59,59,15738721,Graham,773,Male,41,9,102827.44,1,DIAMOND,488,Graham5449
60,60,15693683,Yuille,814,Male,29,8,97086.40,2,GOLD,965,Yuille3142

In [26]:
dt.loc[54,'Balance'] = 700.00
dt.loc[43,'Balance'] = 900.00
dt.loc[24,'Balance'] = 670.00
dt

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,Card Type,Point Earned,Password
1,1,15647311,Hill,608,Female,41,1,83807.86,1,DIAMOND,456,Hill5688
2,2,15619304,Onio,502,Female,42,8,159660.80,3,DIAMOND,377,Onio6579
3,3,15737888,Mitchell,850,Female,43,2,125510.82,1,GOLD,425,Mitchell5342
4,4,15574012,Jagdale,645,Male,18,8,1200000.50,2,DIAMOND,484,Jagdale4530
5,5,15656148,Pawar,376,Female,19,4,500.00,4,DIAMOND,282,Pawar7271
6,6,15792365,He,501,Male,44,4,142051.07,2,GOLD,251,He1186
7,7,15592389,H?,684,Male,27,2,134603.88,1,GOLD,342,H?7353
8,8,15767821,Bearce,528,Male,31,6,102016.72,2,GOLD,264,Bearce5922
9,9,15643966,Goforth,616,Male,45,3,143129.41,2,GOLD,308,Goforth1258
10,10,15737452,Romeo,653,Male,58,1,132602.88,1,SILVER,163,Romeo7520
11,11,15736816,Patil,756,Male,25,2,50000.80,1,DIAMOND,236,Patil4990
12,12,15728693,McWilliams,574,Female,43,3,141349.43,1,DIAMOND,499,McWilliams9534
13,13,15656300,Lucciano,411,Male,29,0,59697.17,2,GOLD,343,Lucciano5921
14,14,15706552,Deshmukh,533,Male,20,7,675000.50,1,SILVER,628,Deshmukh4405
15,15,15750181,Sanderson,553,Male,41,9,110112.54,2,GOLD,611,Sanderson9265
16,16,15794171,Lombardo,475,Female,45,0,134264.04,1,DIAMOND,877,Lombardo9352
17,17,15788448,Watson,490,Male,31,3,145260.23,1,SILVER,471,Watson8530
18,18,15729599,Lorenzo,804,Male,33,7,76548.60,1,GOLD,994,Lorenzo8258
19,19,15585768,Cameron,582,Male,41,6,70349.48,2,GOLD,419,Cameron8705
20,20,15738148,Kadam,465,Female,22,8,100000.00,1,SILVER,828,Kadam9283
21,21,15687946,Osborne,556,Female,61,2,117419.35,1,PLATINUM,789,Osborne2087
22,22,15755196,Lavine,834,Female,49,2,131394.56,1,GOLD,567,Lavine3737
23,23,15684171,Bianchi,660,Female,61,5,155931.11,1,PLATINUM,884,Bianchi7917
24,24,15754849,Tyler,776,Female,32,4,670.00,2,SILVER,296,Tyler9763
25,25,15602280,Martin,829,Female,27,9,112045.67,1,DIAMOND,779,Martin3788
26,26,15771573,Okagbue,637,Female,39,9,137843.80,1,SILVER,730,Okagbue6351
27,27,15766205,Yin,550,Male,38,2,103391.38,1,DIAMOND,960,Yin7730
28,28,15771873,Buccho,776,Female,37,2,103769.22,2,SILVER,268,Buccho1876
29,29,15616550,Chidiebele,698,Male,44,10,116363.37,2,SILVER,829,Chidiebele3294
30,30,15768193,Trevisani,585,Male,36,5,146050.97,2,SILVER,665,Trevisani1047
31,31,15702298,Parkhill,655,Male,41,8,125561.97,1,SILVER,343,Parkhill1053
32,32,15569590,Yoo,601,Male,42,1,98495.72,1,DIAMOND,225,Yoo1766
33,33,15760861,Phillipps,619,Male,43,1,125211.92,1,SILVER,657,Phillipps3679
34,34,15630053,Tsao,656,Male,45,5,127864.40,1,PLATINUM,221,Tsao7896
35,35,15647091,Endrizzi,725,Male,19,0,75888.20,1,PLATINUM,406,Endrizzi8287
36,36,15804771,Velazquez,614,Male,51,4,40685.92,1,PLATINUM,954,Velazquez8121
37,37,15651280,Hunter,742,Male,35,5,136857.00,1,GOLD,823,Hunter5929
38,38,15773469,Clark,687,Female,27,9,152328.88,2,DIAMOND,769,Clark9205
39,39,15702014,Jeffrey,555,Male,33,1,56084.69,2,PLATINUM,481,Jeffrey7500
40,40,15751208,Pirozzi,684,Male,56,8,78707.16,1,SILVER,903,Pirozzi8390
41,41,15592461,Jackson,603,Male,26,4,109166.37,1,PLATINUM,882,Jackson8231
42,42,15789484,Hammond,751,Female,36,6,169831.46,2,GOLD,379,Hammond1055
43,43,15696061,Brownless,581,Female,34,1,900.00,1,PLATINUM,469,Brownless2951
44,44,15641582,Chibugo,735,Male,43,10,123180.01,2,PLATINUM,683,Chibugo1515
45,45,15638424,Glauert,661,Female,35,5,150725.53,2,GOLD,770,Glauert7823
46,46,15755648,Pisano,675,Female,21,8,98373.26,1,SILVER,985,Pisano6893
47,47,15703793,Konovalova,738,Male,58,2,133745.44,4,GOLD,725,Konovalova7469
48,48,15812518,Palermo,657,Female,37,0,163607.18,1,GOLD,979,Palermo7679
49,49,15779052,Ballard,604,Female,25,5,157780.84,2,SILVER,988,Ballard1235
50,50,15780961,Cavenagh,735,Female,21,1,178718.19,2,PLATINUM,527,Cavenagh1628
51,51,15575185,Bushell,757,Male,33,5,77253.22,1,SILVER,582,Bushell3744
52,52,15803136,Postle,416,Female,41,10,122189.66,2,SILVER,281,Postle1178
53,53,15706021,Buley,665,Female,34,1,96645.54,2,DIAMOND,798,Buley2690
54,54,15701164,Onyeorulu,506,Female,34,4,700.00,1,SILVER,511,Onyeorulu5962
55,55,15762418,Gant,750,Male,22,3,121681.82,1,SILVER,852,Gant4089
56,56,15767954,Osborne,635,Female,28,3,81623.67,2,DIAMOND,659,Osborne2007
57,57,15731511,Ritchie,808,Male,45,7,118626.55,2,SILVER,559,Ritchie5556
58,58,15699461,Fiorentini,515,Male,35,10,176273.95,1,GOLD,231,Fiorentini8545
59,59,15738721,Graham,773,Male,41,9,102827.44,1,DIAMOND,488,Graham5449
60,60,15693683,Yuille,814,Male,29,8,97086.40,2,GOLD,965,Yuille3142

In [ ]:
# dt.to_csv('Customer-Records.csv', index=False)

In [1]:
dt

NameError: name 'dt' is not defined